{% extends 'base.html.twig' %}
{% block body -%}
<div class="row">
<div class="col-12">
<h3>{{ image.filename}}</h3>
</div>
</div>
<div class="row">
<div class="col-sm-4 admin-img-sample">
<img src="{{ image_url }}" alt="" style="max-width:100%;">
</div>
<div class="col-sm-8 admin-form">
{{ form(form)}}
</div>
</div>
 {% endblock %}