@import '../../node_modules/normalize-css/normalize.css';

* {
  box-sizing: border-box;
}

body {
    background-color: lightgray;
}

// display artwork list
// from: https://github.com/xieranmaya/blog/issues/6 

.work-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .work-list::after {
    content: '';
    flex-grow: 1e4;
    min-width: 20%;
  }
  
  .work {
    margin: 10px;
    position: relative;
  }
  
  .didascalia {
    padding-top: 5px;
    margin: 0;
    font-size: 11px;
    color: #999;
    font-style: italic;
  }

  .work-image {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }


  // admin
  .admin-img-sample {
    width: 33%;
    float: left;
  }

  .admin-form {
    width: 66%;
    float: right;
  }

  .form-group {
    margin: 0.5em 0;
    clear: both;
  }

  label {
    float: left;
    display: block;
    width: 20%;
  }

  input[type="text"] {
    width: 70%;
  }

  .form-check {
    margin-left: 20%;
  }

  label.form-check-label {
    display: inline;
    float: none;
    clear: none;
    width: auto;
  }