{% extends 'base.html.twig' %}

{% block body -%}
<p><a href="{{ path('upload') }}">Upload!</a></p>
{% for artist, artistname in artists %}
<a href="{{ path('show_artist', { 'artist' : artist }) }}">{{ artistname }}</a>
{% endfor %}
{% endblock %}