{% extends 'base.html.twig' %}

{% block body -%}
{% for file in files %}
{{ dump(file)}}
<a href="{{ uploaded_asset(file.basename) }}">
<img src="{{ file.basename | imagine_filter('full') }}" alt="" style="padding:10px;"></a>
   <br> {{ file.basename }}<br>
{% endfor %}
 {% endblock %}